.button {
  width: 164px;
  height: 164px;
  font-weight: 600;
  font-size: 1.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  transition: opacity 0.2s ease;
  border: none;
  position: relative;
  background-color: transparent;
  background-image: url('../../assets/inputmask.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px 63px;
  margin-top: 0px;
  bottom: 50px;
}

/* Disabled */
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}
