/* Декорация ромба */
.diamondDecoration {
  width: 16px;
  height: 16px;
  border: 1px solid #2d3748; /* серый цвет */
  background-color: #2d3748; /* темный фон */
  transform: rotate(45deg);
}

/* Декорация пистолета */
.gunDecoration {
  position: absolute;
  top: 50%;
  left: 50%; /* Чтобы центрировать по оси X и Y */
  transform: translate(-50%, -50%); /* Центрирует элемент */
  opacity: 1; /* Убираем прозрачность */
  width: 64px;
  height: 64px;
  background-color: #000; /* Чёрный фон */
  border-radius: 50%; /* Круглая форма */
  border: 2px solid #000; /* Чёткая чёрная граница */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Тень для более выразительного эффекта */
}

/* Сплэттер-эффект */
.splatterOverlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
}

.splatterOverlayBackground {
  position: absolute;
  inset: 0;
  background-image: url(../src/assets/spray.svg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}

.splatterOverlayDark {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* полупрозрачный черный */
  z-index: 10;
}
