.container {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  background-color: black;
}

.content {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin-left: 30%;
}


.rightSection {
  width: 414px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.logoWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 96px;
  color: #e53e3e;
  font-weight: bold;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  color: #cbd5e0;
  text-align: center;
}

.diamondDecorationLeftTop {
  position: absolute;
  top: -40px;
  left: -40px;
}

.diamondDecorationRightTop {
  position: absolute;
  top: -40px;
  right: -40px;
}

.diamondDecorationLeftBottom {
  position: absolute;
  bottom: 40px;
  left: -40px;
}

.diamondDecorationRightBottom {
  position: absolute;
  bottom: 40px;
  right: -40px;
}

.fact {
  font-size: 13px;
  color: #cbd5e0;
  text-align: center;
  width: 358px;
  margin-top: 30px;
}


